tr
  td= link_to ("#{question.title}"), question_path(question)
  - if current_user&.resource_author?(question)
    = link_to 'Delete question', question_path(question), method: :delete, data: { confirm: 'Are you sure?' } 
